
html, body {
  font-family: Georgia, "Times New Roman",Times, serif;
  color: white;
  height: 100%;

}
.board-container {
  background-color: #4B8A08;
  margin-left: 2%;
  width: 96%;
  height: 100%;
}
input {
    vertical-align: baseline;
}

#puzzle-options {
  font-size: 1.5em;
  font-family: "Fredoka One";
}

#question-description {
  margin-top: 5%;
  font-size: 2em;
  font-family: "Fredoka One";
}
#answers {
  margin-top: 10%;
  font-size: 2em;
  font-family: "Fredoka One";
  width: 100%;
}
.answer {
  margin-right: 2%;
}

#predefined-puzzle {
  /* display: none; */
}
#coin {
  display: inline-block;
  font-size: 3em;
}

#score {
  /* display: inline-block; */
  font-size: 3em;
  font-family: "Fredoka One";
}

#question-title, #input-echo {
  font-size: 6em;
  font-family: "Fredoka One";
}
#input-echo {
  margin-left: 0.5em;
}
#keyboard {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* width: 100%; */
  bottom: 2%;
}

#customized-puzzle {
  display: none;
}
.keypad {
  width: 9%;
  height: 1.8em;
  font-size: 3.5em;
  margin-right: 0.2%;
  margin-bottom: 2%;
  font-family: "Fredoka One";
  color: #fff;
}


.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1em;
}
